Repository Vyxal/Vyxal, pull requests merged in 2022-05, with the labels that each got.

#907 Starts with and ends with
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation

#923 Make parser account for _all_ literals
  vyxal/parse.py
Labels: Bug Fix

#925 Add the string overload of ṅ to the YAML
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
Labels: Documentation Fix

#924 Make τ work with negative bases
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
  vyxal/helpers.py
Labels: Bug Fix

#931 Make `øD` escape backticks
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#949 Fix ACE
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/helpers.py
Labels: Bug Fix, Urgent Review Required

#947 Increment decrement until false monographs
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_complex.py
  vyxal/elements.py
Labels: Enhancement PR

#953 Don't use eval for datetime stuff
  vyxal/elements.py
Labels: Bug Fix

#963 Lift builtin
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#976 Fix the functionality of øṖ
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#974 Update the documentation for X
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
Labels: Documentation Fix

#977 Add group by function overload to ġ
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_complex.py
  tests/test_elements.py
  vyxal/elements.py
  vyxal/helpers.py
Labels: Element Implementation, Enhancement PR

#979 Fix product of `[]`
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
  vyxal/helpers.py
Labels: Bug Fix

#981 fix shuffle on lazylists
  tests/test_complex.py
  vyxal/elements.py
Labels: Bug Fix

#973 Make the `ḋ` flag work on lists
  vyxal/elements.py
Labels: Bug Fix

#986 add elements for palindromise, center, and join on newlines, and also same for mirror
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#987 Make `Ǐ` no longer vectorise by default
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Enhancement PR

#993 Add depth element
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#984 Implement all indices
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
  vyxal/helpers.py
Labels: Element Implementation, Enhancement PR

#999 Fix G and g
  vyxal/elements.py
  vyxal/helpers.py
Labels: Bug Fix

#1003 Fix run length decode
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1004 Add dyadic run length encode/decode
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1009 Fix `-1` indice with Ȧ
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1008 Add modular exponentation
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1010 Make `ẏ` and `ż` work on infinite lists
  tests/test_complex.py
  vyxal/elements.py
Labels: Bug Fix

#1014 Fix round, is_square, and is_prime
  vyxal/elements.py
Labels: Bug Fix

#1022 Allowed swapped args for l
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Enhancement PR

#1018 Finally fix ẇ
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1021 Added surround
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1020 Make abs diff vectorise
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Enhancement PR

#1035 Fix ^ and v in canvas
  vyxal/Canvas.py
Labels: Bug Fix

#1037 Added 0-indexed fibonacci
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1040 Fixed ẇ with zeroes in lists
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1039 Make € work on infinte lists
  tests/test_complex.py
  vyxal/elements.py
Labels: Bug Fix

#1038 Make vectorise min/max better behaved
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1036 Added left and right align
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Enhancement PR

#1044 Fix stuff with diagonals
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix, Element Implementation, Enhancement PR

#1052 Fix group by
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_complex.py
  tests/test_elements.py
  vyxal/elements.py
  vyxal/helpers.py
Labels: Bug Fix
