Repository Vyxal/Vyxal, pull requests merged in 2022-06, with the labels that each got.

#1053 Update Production (5/31/2022)
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/main.js
  static/parsed_yaml.js
  tests/test_complex.py
  tests/test_elements.py
  vyxal/elements.py
  vyxal/helpers.py
Labels: Production Update

#1060 Improve generator behaviour
  tests/test_complex.py
  vyxal/elements.py
Labels: Bug Fix, Urgent Review Required

#1069 Cycle builtin
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_complex.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1079 Fix print with space without popping
  vyxal/elements.py
Labels: Bug Fix

#1077 Add element to divide list into n parts
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1074 Add overload to get real and imaginary parts of complex number to round
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1076 Add element to fill matrix to make it rectangular
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1080 Make coords_deepmap a monograph
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_complex.py
  tests/test_elements.py
  vyxal/elements.py
Labels: Enhancement PR

#1075 Add string interpolation
  tests/test_complex.py
  vyxal/helpers.py
  vyxal/transpile.py
Labels: Enhancement PR

#1100 Make the arguments of `ß` go in the right order
  tests/test_complex.py
  vyxal/elements.py
Labels: Bug Fix

#1099 Make Matrix Exponentiation work properly
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Documentation Fix, Careful Review Required

#1093 Fix short dictionary compression
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1104 Make `F` not error when given an integer as rhs
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1109 Use custom tooltip
  static/css/main.css
  templates/index.html
Labels: Enhancement PR

#1108 Add if/else modifier
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_complex.py
  vyxal/elements.py
  vyxal/parse.py
Labels: Element Implementation, Enhancement PR

#1107 Add connected uniquify element
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1117 Improve element docs
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  documents/specs/Documentation.md
  static/parsed_yaml.js
  tests/test_elements.py
Labels: Documentation Fix

#1118 Make modulo by 0 work
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1121 Fix tooltip again
  templates/index.html
Labels: Bug Fix

#1126 Add infinite list of all integers
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_complex.py
  vyxal/LazyList.py
  vyxal/elements.py
Labels: Enhancement PR

#1133 Make `K` have negative divisors for negative numbers
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1145 Fix the mysteriously failing `i`
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1137 Fix str-str overload of `ġ`
  vyxal/elements.py
  vyxal/helpers.py
Labels: Bug Fix, The Great Bug Fix

#1146 Change a test for random permutation
  documents/knowledge/elements.yaml
  tests/test_elements.py
Labels: Bug Fix, The Great Bug Fix

#1141 Improve the behaviour of `ŀ`
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1144 Improve the behaviour of `Ḋ`
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1127 Fix dyadic modifiers when used monadically
  tests/test_complex.py
  vyxal/parse.py
Labels: Bug Fix

#1142 Fix random choice (`℅`)
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1151 Fix tests for `Ẋ` and `ÞẊ`
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/context.py
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1149 Make depth (`Þj`) work with empty children
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1148 Fix behavior of `/` and `Þ÷` when splitting strings/lists
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
  vyxal/helpers.py
Labels: Bug Fix, The Great Bug Fix

#1161 Fix random bits
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1158 Fix unwrap
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1157 Fix symmetric difference with string and number
  tests/test_elements.py
Labels: Bug Fix, The Great Bug Fix

#1154 Fix head remove with negative numbers
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1156 Fix surround
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1160 Fix untruth for empty lists
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1165 Fix the test for uniquify
  documents/knowledge/elements.yaml
  tests/test_elements.py
Labels: bug, Bug Fix

#1153 Fix from custom base
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1163 Remove a test case that was actually invalid
  documents/knowledge/elements.yaml
  tests/test_elements.py
Labels: Bug Fix, The Great Bug Fix

#1159 Fix matrix determinant
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1155 Fix split and keep delimiter
  vyxal/elements.py
Labels: Bug Fix, The Great Bug Fix

#1171 Make `V` work properly with strings and numbers
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Enhancement PR, The Great Bug Fix

#1173 Make assignment work on empty containers
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Enhancement PR, The Great Bug Fix

#1170 Make `O` work when given a string and number and vice-versa
  vyxal/elements.py
Labels: Enhancement PR, The Great Bug Fix

#1186 Fix roman numeral
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1168 Improve the behaviour of `½`
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Enhancement PR, The Great Bug Fix

#1197 There is no such thing as `types.NoneType`
  vyxal/helpers.py
Labels: Bug Fix, Urgent Review Required

#1202 Make insertion leave numbers as numbers
  vyxal/elements.py
Labels: Bug Fix, Enhancement PR, Careful Review Required, The Great Bug Fix

#1199 Make `Ẏ` and `Ż` leave numbers as numbers
  vyxal/elements.py
Labels: Bug Fix, Enhancement PR, The Great Bug Fix

#990 Make vectorised recursion (`vx`) work again
  tests/test_complex.py
  vyxal/elements.py
  vyxal/parse.py
  vyxal/transpile.py
Labels: Bug Fix, Careful Review Required

#1214 Fix multiset intersection
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1206 Add a is strictly ascending and is strictly descending elements
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1213 Multidimensional truthy indices
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_complex.py
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1215 Add take while overload
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_complex.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1216 Make `gen_from_fn` (`Ḟ`) work with LazyLists
  tests/test_complex.py
  vyxal/LazyList.py
  vyxal/elements.py
Labels: Bug Fix
