Repository Vyxal/Vyxal, pull requests merged in 2022-07, with the labels that each got.

#1227 cleaned up vectorise
  vyxal/elements.py
Labels: Careful Review Required

#1231 Fix bugs
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1234 Make tooltips unselectable
  static/css/main.css
Labels: Enhancement PR

#1238 Add drop while overload
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_complex.py
  tests/test_elements.py
  vyxal/elements.py
  vyxal/helpers.py
Labels: Element Implementation, Enhancement PR

#1198 Make `⌊` account for decimals and negatives
  vyxal/elements.py
  vyxal/helpers.py
Labels: Bug Fix, Enhancement PR, The Great Bug Fix

#1263 Fix floor
  vyxal/helpers.py
Labels: Bug Fix

#1264 Fix untruth
  vyxal/elements.py
Labels: Bug Fix

#1259 Fix strings without quotes
  vyxal/LazyList.py
Labels: Bug Fix

#1257 Add buttons to insert digraphs in tooltips
  static/css/main.css
  static/keyboard.js
Labels: Enhancement PR

#1260 Tooltip highlights
  static/css/main.css
  static/keyboard.js
Labels: Enhancement PR

#1265 Add tab completions for unicode chars
  static/main.js
Labels: Enhancement PR

#1262 Fix issue where negative indexing into LazyList appends to itself
  vyxal/LazyList.py
Labels: Bug Fix

#1275 Fix ⁺
  vyxal/parse.py
Labels: Bug Fix

#1274 Preserve infinite lists state
  vyxal/LazyList.py
  vyxal/elements.py
  vyxal/helpers.py
Labels: Bug Fix, Careful Review Required

#1271 Fix that ∆F vectorizes on ∆f
  vyxal/elements.py
Labels: Bug Fix

#1272 Fix boolify on LazyLists when raw_object is exhausted
  vyxal/LazyList.py
Labels: Bug Fix

#1288 Make `i` modular slice strings
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1302 Fix arrow parsing elements
  vyxal/elements.py
Labels: Bug Fix

#1304 Fix `ø⟇`
  vyxal/elements.py
Labels: Bug Fix

#1299 Make the tests for `∪` account for different types
  documents/knowledge/elements.yaml
  tests/test_elements.py
Labels: The Great Bug Fix, Light and Easy

#1297 Make `ÞS` respect original type
  vyxal/elements.py
Labels: Bug Fix, Enhancement PR, The Great Bug Fix

#1296 Make `digits` function not convert to float
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/helpers.py
Labels: Bug Fix

#1295 Make `€` work properly again
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1293 Make `Ṁ` insert at negative indices correctly
  vyxal/elements.py
Labels: Bug Fix

#1291 Add "truthy under" overload to T updot
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Enhancement PR

#1309 Fix nested modifiers' arity
  tests/test_complex.py
  vyxal/transpile.py
Labels: Bug Fix

#1315 Make ↔ work on infinite lists differently
  tests/test_complex.py
  vyxal/elements.py
  vyxal/helpers.py
Labels: Enhancement PR

#1325 fix while loops
  tests/test_complex.py
  vyxal/transpile.py
Labels: Bug Fix

#1339 Make some online interpreter autocompletes work properly
  static/main.js
Labels: Online Interpreter PR

#1338 Make divmod work when rhs is 0
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1336 Make sorting 0 work
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix

#1357 Add count overlapping element
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1356 Make powerset return a string list on strings
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Labels: Enhancement PR

#1367 Add adjacent filter-group
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_complex.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR

#1366 Preserve string state with shuffle
  vyxal/elements.py
Labels: Enhancement PR

#1361 Fix docs for ↔ and İ
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
Labels: Documentation Fix

#1360 When generating a CGCC post template, don't show some flags
  static/main.js
Labels: Enhancement PR, Online Interpreter PR

#1371 Fix assign
  tests/test_complex.py
  vyxal/elements.py
Labels: Enhancement PR
