Repository Vyxal/Vyxal, pull requests merged in 2022-04, with the labels that each got.

#858 Add replace nth occurrence digraph
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation

#852 Make `vy_exec` vectorise properly on strings.
  vyxal/elements.py
Labels: Bug Fix

#856 Update Production (14/04/2022)
  .pre-commit-config.yaml
  README.md
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  pyproject.toml
  static/parsed_yaml.js
  tests/test_complex.py
  tests/test_elements.py
  vyxal/LazyList.py
  vyxal/elements.py
  vyxal/helpers.py
  vyxal/transpile.py
Labels: Production Update

#864 Fix an inaccurate piece of documentation (reverse monad)
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
Labels: Documentation Fix

#869 Production Update (18/04/2022)
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  documents/knowledge/yaml_to_js.py
  documents/knowledge/yaml_to_md.py
  documents/knowledge/yaml_to_txt.py
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Production Update

#857 Make it so that `x` or `X` after a modifier functions correctly.
  tests/test_parser.py
  vyxal/parse.py
Labels: Bug Fix

#883 Add new strip commands and fix #882
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Bug Fix, Element Implementation

#905 Document some flags that were missing
  vyxal/main.py
Labels: Documentation Fix

#903 Make `ẇ` not return a trailing empty string if nothing to split upon
  vyxal/elements.py
Labels: Bug Fix

#904 Make backslashes at the end of a 2 character string include the backslash
  tests/test_lexer.py
  vyxal/lexer.py
Labels: Bug Fix
