Repository Vyxal/Vyxal, pull requests merged in 2022-09, with the labels that each got.

#1373 Make the tests flag work with strings with newlines
  vyxal/main.py
Labels: Online Interpreter PR

#1406 Fix all inputs
  vyxal/context.py
  vyxal/elements.py
  vyxal/main.py
Labels: Bug Fix

#1412 Add element to gridify
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: Element Implementation, Enhancement PR
