Repository Vyxal/Vyxal, pull requests merged in 2023-12, with the labels that each got.

#2003 Parser error handling
  js/src/vyxal/JSVyxal.scala
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/Exceptions.scala
  shared/src/vyxal/Interpreter.scala
  shared/src/vyxal/MiscHelpers.scala
  shared/src/vyxal/debugger/DebugRepl.scala
  shared/src/vyxal/debugger/Debugger.scala
  shared/src/vyxal/parsing/Lexer.scala
  shared/src/vyxal/parsing/LiterateLexer.scala
  shared/src/vyxal/parsing/Parser.scala
  shared/src/vyxal/parsing/SBCSLexer.scala
  shared/test/src/vyxal/LexerTests.scala
  shared/test/src/vyxal/LiterateTests.scala
  shared/test/src/vyxal/ParserTests.scala
Labels: PR: Enhancement, PR: Careful Review Required, PR: Version 3 Related

#2009 Fix compression trim issue
  shared/src/vyxal/StringHelpers.scala
  shared/test/src/vyxal/InterpreterTests.scala
Labels: PR: Bug Fix, PR: Light and Easy, PR: Breaking Change

#2010 More exception tweaks
  js/src/vyxal/JSVyxal.scala
  jvm/src/vyxal/JvmRepl.scala
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/Context.scala
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/Exceptions.scala
  shared/src/vyxal/Globals.scala
  shared/src/vyxal/Interpreter.scala
  shared/src/vyxal/MiscHelpers.scala
  shared/src/vyxal/NumberHelpers.scala
  shared/src/vyxal/StringHelpers.scala
  shared/src/vyxal/debugger/Step.scala
  shared/src/vyxal/parsing/LiterateLexer.scala
  shared/src/vyxal/parsing/Parser.scala
  shared/src/vyxal/parsing/SBCSLexer.scala
Labels: PR: Enhancement, PR: Version 3 Related

#2015 Fix `i` vectorise
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/MiscHelpers.scala
  shared/test/resources/tests.yaml
Labels: PR: Bug Fix

#2022 Fix apply to head
  shared/src/vyxal/Exceptions.scala
  shared/src/vyxal/Modifiers.scala
  shared/test/src/vyxal/ModifierTests.scala
Labels: PR: Bug Fix, PR: Breaking Change

#2026 Death to sbt
  .gitpod.Dockerfile
  CONTRIBUTING.md
  README.md
  build.sbt
  contributing/BuildTools.md
  contributing/Building.md
  contributing/GettingStarted.md
  contributing/README.md
  contributing/Tests.md
  project/build.properties
  project/plugins.sbt
Labels: PR: Version 3 Related

#2027 Make separate overloads field for Modifier
  .gitattributes
  documentation/elements.txt
  documentation/table.md
  jvm/src/vyxal/gen/GenerateDocs.scala
  jvm/src/vyxal/gen/GenerateKeyboard.scala
  jvm/src/vyxal/gen/GenerateTheseusData.scala
  pages/parsed_yaml.js
  pages/theseus.json
  shared/src/vyxal/Modifiers.scala
Labels: PR: Version 3 Related

#2029 Redefine Experiment
  contributing/Experimental Ideas/Redefine Experiment.md
  documentation/Advanced Features.md
  documentation/Version Change Summaries/v3.4.0.md
  shared/src/vyxal/AST.scala
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/Exceptions.scala
  shared/src/vyxal/Globals.scala
  shared/src/vyxal/Interpreter.scala
  shared/src/vyxal/MiscHelpers.scala
  shared/src/vyxal/StringHelpers.scala
  shared/src/vyxal/debugger/DebugRepl.scala
  shared/src/vyxal/debugger/Debugger.scala
  shared/src/vyxal/parsing/Lexer.scala
  shared/src/vyxal/parsing/LiterateLexer.scala
  shared/src/vyxal/parsing/Parser.scala
  shared/src/vyxal/parsing/SBCSLexer.scala
  shared/test/src/vyxal/InterpreterTests.scala
  shared/test/src/vyxal/ParserTests.scala
Labels: PR: Version 3 Related
