Repository Vyxal/Vyxal, pull requests merged in 2023-07, with the labels that each got.

#1789 Add command for basic parsing of HTML using BeautifulSoup
  poetry.lock
  pyproject.toml
  vyxal/elements.py
Labels: PR: Element Implementation, dependencies

#1831 Make β work with lists
  vyxal/elements.py
  vyxal/helpers.py
Labels: PR: Enhancement

#1834 Add SHA256 hash function
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: PR: Element Implementation, PR: Light and Easy

#1842 Make vyncode not override the debug box
  static/main.js
Labels: priority: high, PR: Bug Fix, PR: Light and Easy
