Repository Vyxal/Vyxal, pull requests merged in 2023-03, with the labels that each got.

#1660 Replace `¦` with newlines when decompressing strings
  shared/src/main/scala/StringHelpers.scala
Labels: PR: Bug Fix, PR: Version 3 Related

#1661 (Version 3): Make _ part of number syntax
  shared/src/main/scala/Lexer.scala
  shared/src/main/scala/LiterateLexer.scala
  shared/src/test/scala/LexerTests.scala
  shared/src/test/scala/LiterateTests.scala
Labels: PR: Version 3 Related

#1679 Make Ǔ/ǔ modular
  vyxal/elements.py
Labels: PR: Bug Fix, PR: Light and Easy

#1684 Add ~330 words to the dictionary
  vyxal/dictionary.py
Labels: PR: Enhancement, PR: Version 2 Related

#1687 Add the word "bingus" to the dictionary
  vyxal/dictionary.py
Labels: PR: Enhancement, PR: Urgent Review Required, PR: Light and Easy

#1682 Add some default values to some nilads
  vyxal/context.py
  vyxal/elements.py
Labels: PR: Enhancement, PR: Version 2 Related

#1680 Add element S
  documentation/elements.txt
  shared/src/main/scala/Elements.scala
  shared/src/test/scala/ElementTests.scala
Labels: PR: Version 3 Related

#1690 Make `@` vectorised lengths
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_complex.py
  tests/test_elements.py
  tests/test_parser.py
  vyxal/elements.py
  vyxal/parse.py
Labels: PR: Element Implementation, PR: Light and Easy, PR: Version 2 Related

#1681 Add a group indices element + overlapping pairs element
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: PR: Element Implementation, PR: Enhancement, PR: Version 2 Related

#1655 Make input able to be evaluated as vyxal
  tests/test_complex.py
  tests/test_interpreter.py
  vyxal/helpers.py
  vyxal/parse.py
Labels: PR: Version 2 Related
