Repository Vyxal/Vyxal, pull requests merged in 2023-04, with the labels that each got.

#1686 Add `~` flag for testing against expected output
  documents/knowledge/Test Case Flags.md
  static/main.js
  vyxal/main.py
Labels: PR: Enhancement, PR: Version 2 Related

#1692 Make `G` and `g` NOPs on Numbers
  vyxal/elements.py
Labels: PR: Enhancement, PR: Version 3 Related, PR: Version 2 Related

#1674 Implement H
  documentation/elements.txt
  shared/src/main/scala/Elements.scala
  shared/src/main/scala/NumberHelpers.scala
  shared/src/main/scala/VAny.scala
  shared/src/main/scala/VList.scala
  shared/src/test/scala/ElementTests.scala
Labels: PR: Version 3 Related

#1683 Implement matrix from (anti)diagonals
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
  documents/knowledge/elements.yaml
  static/parsed_yaml.js
  tests/test_elements.py
  vyxal/elements.py
Labels: PR: Element Implementation, PR: Enhancement, PR: Version 2 Related

#1719 Update .gitattributes (v3)
  .gitattributes
Labels: PR: Version 3 Related

#1717 Version 3: Implement G element (maximum)
  documentation/elements.txt
  shared/src/main/scala/Elements.scala
  shared/src/main/scala/ListHelpers.scala
  shared/src/main/scala/MiscHelpers.scala
  shared/src/test/scala/ElementTests.scala
Labels: PR: Element Implementation, PR: Version 3 Related
