Repository Vyxal/Vyxal, pull requests merged in 2023-08, with the labels that each got.

#1855 Hopefully fix compressed numbers not sympifying
  vyxal/transpile.py
Labels: PR: Bug Fix, sympy's fault

#1860 Update production
  pyproject.toml
  vyxal/main.py
Labels: PR: Production Update

#1875 move integer partitions from Ṅ to ṗ
  documentation/elements.txt
  jvm/resources/vyxal-lit.nanorc
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/MiscHelpers.scala
  shared/test/resources/tests.yaml
Labels: version-3

#1881 Make CONTRIBUTING.md
  .github/workflows/deploy-pages.yaml
  .github/workflows/fix-update.yaml
  .github/workflows/test.yaml
  CONTRIBUTING.md
  README.md
  contributing/BuildTools.md
  contributing/Debugger.md
  contributing/DictionaryCompression.md
  contributing/Element Wishlist.md
  contributing/ElementDocumentation.md
  contributing/Interpreter.md
  contributing/Lexer.md
  contributing/ModifierImpl.md
  contributing/Parser.md
  contributing/README.md
  contributing/Tests.md
  documentation/ModifierImpl.md
  documentation/README.md
  documentation/Site Testing.md
  documentation/Website.md
Labels: documentation, priority: low, version-3
