Repository Vyxal/Vyxal, pull requests merged in 2023-11, with the labels that each got.

#1964 Make it so that `Ǔ` and `ǔ` are considered monadic to modifiers.
  tests/test_complex.py
  vyxal/elements.py
Labels: PR: Version 2 Related

#1953 Add a lot of things to version 3
  README.md
  documentation/elements.txt
  js/src/vyxal/JSVyxal.scala
  jvm/resources/vyxal-lit.nanorc
  jvm/resources/vyxal.nanorc
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/Context.scala
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/Globals.scala
  shared/src/vyxal/ListHelpers.scala
  shared/src/vyxal/MiscHelpers.scala
  shared/src/vyxal/Modifiers.scala
  shared/src/vyxal/VNum.scala
  shared/src/vyxal/parsing/Lexer.scala
  shared/src/vyxal/parsing/LiterateLexer.scala
  shared/src/vyxal/parsing/SBCSLexer.scala
  shared/test/resources/tests.yaml
  shared/test/src/vyxal/ElementTests.scala
  shared/test/src/vyxal/InterpreterTests.scala
  shared/test/src/vyxal/ModifierTests.scala
Labels: PR: Version 3 Related

#1973 Add a markdown table generator for elements as well as 🌮
  .gitattributes
  .github/workflows/fix-update.yaml
  README.md
  build.sc
  documentation/elements.txt
  documentation/table.md
  documentation/trigraphs.txt
  jvm/resources/vyxal-lit.nanorc
  jvm/src/vyxal/gen/GenerateDocs.scala
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/SugarMap.scala
  shared/src/vyxal/parsing/LiterateLexer.scala
Labels: PR: Version 3 Related

#1977 Add an endpoint to get the version
  documentation/table.md
  js/src/vyxal/JSVyxal.scala
  shared/src/vyxal/CLI.scala
Labels: PR: Version 3 Related

#1976 Add preliminary description gen + add a syntax section to the table.md file
  .gitattributes
  .pre-commit-config.yaml
  build.sbt
  build.sc
  documentation/table.md
  info.txt
  jvm/src/vyxal/gen/GenerateDocs.scala
  jvm/src/vyxal/gen/GenerateKeyboard.scala
  pages/descriptions.json
  pages/parsed_yaml.js
  shared/src/vyxal/SyntaxInfo.scala
Labels: PR: Version 3 Related

#1978 Add the on-release repository dispatch workflow
  .github/workflows/send-message-to-versions.yaml
  pages/filter_files.py
Labels: PR: Version 3 Related

#1979 V3 literate mode add quote thing at long last
  shared/src/vyxal/parsing/Common.scala
  shared/src/vyxal/parsing/Lexer.scala
  shared/src/vyxal/parsing/LiterateLexer.scala
  shared/src/vyxal/parsing/SBCSLexer.scala
  shared/test/src/vyxal/LiterateTests.scala
Labels: PR: Version 3 Related

#1985 Make table not return a generator
  vyxal/helpers.py
Labels: PR: Version 2 Related

#1981 The last PR before version 3
  README.md
  build.sc
  codepage.txt
  contributing/Lexer.md
  documentation/Literate Mode.md
  documentation/Tour.md
  documentation/codepage.md
  documentation/codepage.txt
  documentation/elements.txt
  documentation/table.md
  info.txt
  js/src/vyxal/JSVyxal.scala
  jvm/resources/vyxal-lit.nanorc
  jvm/resources/vyxal.nanorc
  jvm/src/vyxal/MainLit.scala
  pages/parsed_yaml.js
  shared/src/vyxal/AST.scala
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/Context.scala
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/Interpreter.scala
  shared/src/vyxal/Modifiers.scala
  shared/src/vyxal/StringHelpers.scala
  shared/src/vyxal/parsing/SBCSLexer.scala
  shared/test/resources/tests.yaml
  shared/test/src/vyxal/InterpreterTests.scala
  shared/test/src/vyxal/LexerTests.scala
  shared/test/src/vyxal/ModifierTests.scala
  shared/test/src/vyxal/ParserTests.scala
Labels: PR: Version 3 Related

#1986 Make vyprint actually print inf lists
  pages/main.js
  shared/src/vyxal/MiscHelpers.scala
Labels: PR: Version 3 Related

#1988 Implement a basic set of flags for version 3
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/Context.scala
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/Globals.scala
  shared/src/vyxal/Interpreter.scala
  shared/test/src/vyxal/ElementTests.scala
  shared/test/src/vyxal/VyxalTests.scala
Labels: PR: Urgent Review Required, PR: Version 3 Related

#1989 Add some -1 related built-ins + powerset + change character for square
  documentation/elements.txt
  documentation/table.md
  jvm/resources/vyxal-lit.nanorc
  pages/parsed_yaml.js
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/ListHelpers.scala
  shared/test/resources/tests.yaml
Labels: PR: Version 3 Related

#1991 Make vyprint quote strings + print functions as executing them
  shared/src/vyxal/MiscHelpers.scala
Labels: PR: Version 3 Related

#1993 Make `ᵒ`/`table:` cast numbers to range
  shared/src/vyxal/Modifiers.scala
Labels: PR: Version 3 Related

#1992 Add a print limit to JS bridge
  js/src/vyxal/JSVyxal.scala
Labels: PR: Online Interpreter, PR: Version 3 Related

#2002 Useful Error Handling
  js/src/vyxal/JSVyxal.scala
  jvm/src/vyxal/JvmRepl.scala
  jvm/src/vyxal/Main.scala
  jvm/src/vyxal/MainLit.scala
  pages/main.js
  pages/worker.js
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/Exceptions.scala
  shared/src/vyxal/Globals.scala
Labels: PR: Enhancement, PR: Light and Easy, PR: Version 3 Related
