Repository Vyxal/Vyxal, pull requests merged in 2024-01, with the labels that each got.

#2038 Fix JVM `YamlTests` on Windows
  shared/test/src/vyxal/YamlTests.scala
Labels: PR: Version 3 Related

#2035 V3 add classes
  .github/workflows/deploy-pages.yaml
  .github/workflows/release.yaml
  .github/workflows/resources.yaml
  .github/workflows/send-message-to-versions.yaml
  .github/workflows/test.yaml
  .gitignore
  build.sc
  documentation/Advanced Features/Custom Elements.md
  documentation/Advanced Features/Records and Extensions.md
  documentation/Version Change Summaries/v3.4.0.md
  documentation/elements.txt
  documentation/examples/Map.vyxal
  documentation/table.md
  jvm/resources/vyxal-lit.nanorc
  shared/src/vyxal/Context.scala
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/Exceptions.scala
  shared/src/vyxal/Globals.scala
  shared/src/vyxal/Interpreter.scala
  shared/src/vyxal/ListHelpers.scala
  shared/src/vyxal/MiscHelpers.scala
  shared/src/vyxal/StringHelpers.scala
  shared/src/vyxal/VAny.scala
  shared/src/vyxal/parsing/Lexer.scala
  shared/src/vyxal/parsing/LiterateLexer.scala
  shared/src/vyxal/parsing/Parser.scala
  shared/src/vyxal/parsing/SBCSLexer.scala
  shared/test/resources/tests.yaml
  shared/test/src/vyxal/InterpreterTests.scala
Labels: PR: Version 3 Related

#2039 Set Union: don't uniquify the result
  shared/src/vyxal/Elements.scala
  shared/test/resources/tests.yaml
Labels: PR: Element Implementation, PR: Version 3 Related

#2040 v3: Make set intersection act like APL
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/VList.scala
  shared/test/resources/tests.yaml
Labels: PR: Breaking Change

#2043 Fix list ordering `compare`
  shared/src/vyxal/MiscHelpers.scala
  shared/test/resources/tests.yaml
Labels: PR: Version 3 Related

#2047 Export lexing to the JavaScript module
  js/src/vyxal/JSVyxal.scala
  shared/src/vyxal/parsing/Lexer.scala
Labels: PR: Version 3 Related

#2045 Avoid stack overflow when compiling lexers
  .github/workflows/deploy-pages.yaml
  .github/workflows/release.yaml
  .github/workflows/resources.yaml
  .github/workflows/send-message-to-versions.yaml
  .github/workflows/test.yaml
  shared/src/vyxal/parsing/Common.scala
  shared/src/vyxal/parsing/LiterateLexer.scala
  shared/src/vyxal/parsing/SBCSLexer.scala
Labels: PR: Version 3 Related

#2049 Make the REPL quit when hitting Control-D
  jvm/src/vyxal/JvmRepl.scala
  shared/src/vyxal/CLI.scala
Labels: PR: Version 3 Related

#2044 Fix complex numbers
  shared/src/vyxal/MiscHelpers.scala
  shared/src/vyxal/VNum.scala
  shared/test/resources/tests.yaml
Labels: PR: Version 3 Related

#2046 Add edges
  shared/src/vyxal/Elements.scala
  shared/test/resources/tests.yaml
Labels: version-3, PR: Element Implementation

#2051 Implement trigonometric & hyperbolic functions
  documentation/elements.txt
  documentation/table.md
  jvm/resources/vyxal-lit.nanorc
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/VNum.scala
  shared/test/resources/tests.yaml
Labels: PR: Version 3 Related

#2050 Change list evaluation to collecting all pushed items on a new stack
  shared/src/vyxal/Context.scala
  shared/src/vyxal/Interpreter.scala
  shared/test/src/vyxal/InterpreterTests.scala
Labels: PR: Version 3 Related

#2052 Add real and imaginary part elements
  documentation/elements.txt
  documentation/table.md
  jvm/resources/vyxal-lit.nanorc
  shared/src/vyxal/Elements.scala
  shared/test/resources/tests.yaml
Labels: PR: Version 3 Related

#2057 Fix REPL stops printing after a print element is ran
  jvm/src/vyxal/JvmRepl.scala
  native/src/vyxal/NativeRepl.scala
Labels: PR: Version 3 Related

#2058 rename drop to drop/zero slice from
  shared/src/vyxal/Elements.scala
Labels: difficulty: easy, priority: medium, PR: Documentation Fix, PR: Enhancement, PR: Light and Easy

#2055 Implement pretty printing and proper stringification for records, constructors and lambdas.
  documentation/examples/Map.vyxal
  shared/src/vyxal/AST.scala
  shared/src/vyxal/Interpreter.scala
  shared/src/vyxal/MiscHelpers.scala
  shared/src/vyxal/StringHelpers.scala
  shared/src/vyxal/VAny.scala
Labels: PR: Version 3 Related

#2059 Add tests for `Θ`
  shared/test/resources/tests.yaml
Labels: PR: Version 3 Related

#2060 Add APL-style drop to `İ`
  documentation/elements.txt
  documentation/table.md
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/ListHelpers.scala
  shared/test/resources/tests.yaml
Labels: PR: Version 3 Related

#2065 Add least common multiple element
  documentation/elements.txt
  documentation/table.md
  jvm/resources/vyxal-lit.nanorc
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/NumberHelpers.scala
  shared/test/resources/tests.yaml
Labels: PR: Version 3 Related

#2064 Add radians-to-degrees and degrees-to-radians elements
  documentation/elements.txt
  documentation/table.md
  jvm/resources/vyxal-lit.nanorc
  shared/src/vyxal/Elements.scala
  shared/test/resources/tests.yaml
Labels: PR: Version 3 Related

#2069 Add `reshape` function & `ÞR` element
  documentation/elements.txt
  documentation/table.md
  jvm/resources/vyxal-lit.nanorc
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/ListHelpers.scala
  shared/test/resources/tests.yaml
Labels: PR: Element Implementation, PR: Version 3 Related

#2080 Refactor flags into an `enum`, and group similar flags together
  jvm/src/vyxal/gen/GenerateTheseusData.scala
  pages/parsed_yaml.js
  pages/theseus.json
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/Globals.scala
Labels: PR: Version 3 Related

#2082 Refactor flags into an enum, and group similar flags together
  jvm/src/vyxal/gen/GenerateTheseusData.scala
  pages/parsed_yaml.js
  pages/theseus.json
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/Globals.scala
Labels: PR: Version 3 Related
